*{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: rgb(0, 0, 36);
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(17, 17, 44);
        }
        nav ul{
            display: flex;
            justify-content: center;
        }
        nav ul li{
            list-style: none;
            margin: 0 23px;
        }
        nav ul li a{
            text-decoration: none;
            color: white;
        }
        nav ul li a:hover{
            color: rgb(154, 154, 228);
            font-size: 1.2rem;
        }
        main hr{
            border: 0;
            background: #9c97f1;
            height: 1.2px;
            margin: 60px 84px;
        }
        .left{
            font-size: 1.5rem;
        }

        .firstsection{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 130px 0;
        }
        .firstsection > div{
            width: 30%;
        }
        .leftsection{
            font-size: 3rem;
        }
        .leftsection .buttons{
            padding: 50px 0;
        }
        .leftsection .btn{
            padding: 12px;
            background: #1e2167;
            color: white;
            border: 2px solid white;
            border-radius: 8px;
            font-size: 20px;
            cursor: pointer;
        }
        .rightsection img{
            width: 80%;
        }
        .purple{
            color: rgb(170, 125, 211);
        }
        .text-gray{
            color: gray;
        }
        #element{
            color: rgb(170, 125, 211);
        }
        .secondsection{
            max-width: 80vw;
            margin: auto;
            height: 80vh;
        }
        .secondsection h1{
            font-size: 1.6rem;
        }
        .secondsection .box{
            background: white;
            width: 84vw;
            height: 2px;
            margin: 56px 0;
            display: flex;
        }
        .secondsection .vertical{
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 120px;
        }
        .image-top{
            width: 23px;
            position: relative;
            top: -32px;
            left: -9px;
        }
        .vertical-title{
            position: relative;
            top: 75px;
            width: 150px;
            font-size: 14px;
        }
        .vertical-desc{
            position: relative;
            top: 86px;
            color: gray;
            width: 150px;
            font-size: 9px;
        }
        footer{
            background-color: rgb(63, 44, 92);
        }
        .footer{
            display: flex;
            padding: 23px 122px;
            justify-content: space-evenly;
        }
        footer ul{
            list-style: none;
        }
        .footer > div{
            width: 123px;
        }
        footer .footer-rights{
            text-align: center;
            color: gray;
            padding: 12px 0;
        }